/* https://www.w3schools.com/howto/howto_js_accordion.asp */
.accordion {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 1px solid var(--border-color);
}

.accordion-header {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    align-items:center;
    border: none;
    height: 1cm;
}

/* Fill the first column of the header grid to fix alignment */
.accordion-header:before {
    content: "";
}

.accordion-header:after {
    display:block;
    content: "";
    width: 30px;
    height: 30px;
    background-image: url("../img/accordion-down.svg");
}

.accordion-header:hover:after {
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 50%;
}

.accordion-header.active:after {
    background-image: url("../img/accordion-up.svg");
}

.accordion-content {
    margin: var(--standard-margin);
}

