/* https://www.w3schools.com/howto/howto_js_accordion.asp */
.accordion {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: var(--standard-margin);
}

.accordion-header {
    border: none;
}

.accordion-content {
    margin: var(--standard-margin);
}

