*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    padding: 0px;
    margin: 0px;
    /*
    display: flex;
    flex-direction: column;
    */
    display: grid;
    grid-template-rows: auto auto 1fr;   
}

/* Prevents clicking event on text/image */
button > * {
    pointer-events: none;
}

p{
    margin: var(--standard-margin);
}

.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.vertical {
    display: flex;
    flex-direction: column;
    margin: var(--large-margin);
    row-gap: var(--large-margin);
}

/* Must be last */
.hidden {
    display: none;
}

