#pattern-container {
    overflow: auto;
    padding: var(--standard-margin);
}

#pattern {
    width: 1600;
    height: 1600;
    border: 1px solid;
    background-color: var(--pattern-background-color);
}