.navigation-tabs {
    display: grid;
    grid-template-columns: auto auto 1fr auto auto ;
    background-color: darkgray;
}

.navigation-tab {
    width: 100px;
    height: 50px;
    display: inline;
}

.navigation-tab.active {
    background-color: red;
}

.navigation-tab > img {
    width: 25px;
    height: 25px;
}

.navigation-tab-content {
    /* vh = height of screen/view */
    max-height: 50vh;
    overflow: auto;
    padding: var(--standard-margin);
}

.navigation-tab-content:not(.toolbar){
    resize: vertical;
}

@media screen and (max-width: 15cm) {
    .navigation-tabs {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    }

    .navigation-tab {
        width: 20vw;
        height: 2cm;
    }
}