.navigation-tabs {
    display: grid;
    grid-template-columns: auto auto 1fr auto auto ;
    background-color: darkgray;
}

.navigation-tab {
    width: 100px;
    height: 50px;
    display: inline;
}

.navigation-tab-icon {
    width: 25px;
    height: 25px;
}

