
.toolbar {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--standard-margin);
}

.toolbar-button-group {
    display: flex;
}

.toolbar-button-group + .toolbar-button-group {
    color: gray;
    border-left: 1px solid;
    padding-left: var(--standard-margin);
}

.toolbar-button {
    width: var(--toolbar-icon-size);
    height: var(--toolbar-icon-size);
}

.toolbar-dropdown-button {
    width: var(--toolbar-dropdown-icon-width);
    height: var(--toolbar-icon-size);
}

.toolbar-button, .toolbar-dropdown-button {
    padding: 0px;

    border: none;
    background-color: var(--active-tab-background-color);
}

.toolbar-button:hover, .toolbar-dropdown-button:hover {
    background-color: var(--button-hover-color);
}

.toolbar-button > img {
    width: 66%;
    height: 66%;
}

.toolbar-dropdown-button > img {
    width: 10px;
    height: 10px;
}

.toolbar-dropdown-group {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 0px;
}

.toolbar-dropdown-menu-button {
    width: 150px;
    height: 32px;
    display: none;
}

.toolbar-dropdown-menu-button > img {
    width: 24px;
    height: 32px;
}