
.toolbar {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--large-margin);

    padding: var(--standard-margin);
}

.toolbar-button-group {
    display: flex;
}

.toolbar-button {
    width: 32px;
    height: 32px;
    padding: 0px;
}

.toolbar-button > img {
    width: 24px;
    height: 24px;
}

.toolbar-dropdown-group {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 0px;
}

.toolbar-dropdown-button {
    width: 24px;
    height: 32px;
    padding: 0px;
}

.toolbar-dropdown-button > img {
    width: 10px;
    height: 10px;
}

.toolbar-dropdown-menu-button {
    width: 150px;
    height: 32px;
    display: none;
}

.toolbar-dropdown-menu-button > img {
    width: 24px;
    height: 32px;
}